@model MovieBillboard.Models.Movie

@{
    ViewData["Title"] = "Edit";
}

<h1 class="oposite">Edit</h1>

<h4 class="oposite">Movie</h4>
<hr />
<div class="row row-form">
    <div class="col-md-4 form-card">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rated" class="control-label"></label>
                <input asp-for="Rated" class="form-control" />
                <span asp-validation-for="Rated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Released" class="control-label"></label>
                <input asp-for="Released" class="form-control" />
                <span asp-validation-for="Released" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Runtime" class="control-label"></label>
                <input asp-for="Runtime" class="form-control" />
                <span asp-validation-for="Runtime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Director" class="control-label"></label>
                <input asp-for="Director" class="form-control" />
                <span asp-validation-for="Director" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Actors" class="control-label"></label>
                <input asp-for="Actors" class="form-control" />
                <span asp-validation-for="Actors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plot" class="control-label"></label>
                <input asp-for="Plot" class="form-control" />
                <span asp-validation-for="Plot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poster" class="control-label"></label>
                <input asp-for="Poster" class="form-control" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImdbRating" class="control-label"></label>
                <input asp-for="ImdbRating" class="form-control" />
                <span asp-validation-for="ImdbRating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BoxOffice" class="control-label"></label>
                <input asp-for="BoxOffice" class="form-control" />
                <span asp-validation-for="BoxOffice" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
        <div class="text-wide">
            <a class="back" asp-action="Index">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<partial name="_Background" />